@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --primary: #121826;
  --secondary: #212936;
  --textPrimary: #e5e7eb;
  --textSecondary: #9da3ae;
  --handBackground: #fceed8;
  --goalNetBackground: #dee9fc;
  --messageBackground: #fbe5e6;

  --headingSize: 2.5rem;
  --headingWeight: 600;

  --smallHeadingSize: 1.25rem;
  --smallHeadingWeight: 600;

  --bodyTextSize: 1rem;
  --bodyTextWeight: 400;

  color-scheme: dark;
  color: var(--textPrimary);

  background-color: var(--primary);
  background-image: url("./assets/Background_image.svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
  font-size: var(--bodyTextSize);
  font-weight: var(--bodyTextWeight);
  line-height: 1.75rem;
}

body {
  margin: 3rem 0;
  padding: 0 30px;
  display: grid;
  gap: 3rem;
}

header {
  max-width: 450px;
  margin: auto;
  display: grid;
  gap: 1rem;

  h1 {
    font-size: var(--headingSize);
    font-weight: var(--headingWeight);
    line-height: 3.1rem;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: var(--bodyTextSize);
    font-weight: var(--bodyTextWeight);
    line-height: 1.75rem;
    color: var(--textSecondary);
  }
}

main {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  gap: 2.5rem;
  max-width: 1100px;

  article {
    border-radius: 10px;
    padding: 1.5rem;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.85rem;
    max-width: 320px;
    transition: all 0.15s ease-in-out;
    position: relative;

    &:hover {
      transform: scale(1.05);
    }

    &:hover::after {
      content: "✔️";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      right: 15px;
      top: -10px;
      font-size: 2rem;
      display: flex;
    }

    span {
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      text-align: center;
    }

    .hand {
      background-color: var(--handBackground);
      font-size: 1.3rem;
    }

    .goalNet {
      background-color: var(--goalNetBackground);
      font-size: 1.3rem;
    }

    .message {
      background-color: var(--messageBackground);
      font-size: 1.3rem;
    }

    h2 {
      font-size: var(--smallHeadingSize);
      font-weight: var(--smallHeadingWeight);
      line-height: 1.75rem;
    }

    p {
      color: var(--textSecondary);
      line-height: 1.35rem;
      max-width: 90%;
    }

    img {
      border-radius: 10px;
      content-visibility: auto;
    }
  }
}

@media (width <= 1080px) {
  .article-hand {
    grid-area: hand;
  }
  .article-goalNet {
    grid-area: goal;
  }
  .article-message {
    grid-area: message;
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "hand goal"
      "message message";
    justify-items: center;
    max-width: fit-content;
    width: 100%;
  }
}

@media (width <= 730px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas: "hand" "goal" "message";
  }
}
